.todoCheckbox {
    vertical-align: middle;
    margin-right: 1em;
}

h4 {
    text-align: center;
}

.category {
    background-color: #E8E8E8;
    border: 1px solid black;
    padding: 20px;
    margin: 25px;
}

.category:hover {
    border: 1px solid lightblue;
    -webkit-box-shadow: 11px 11px 17px -8px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 11px 11px 17px -8px rgba(0, 0, 0, 0.58);
    box-shadow: 11px 11px 17px -8px rgba(0, 0, 0, 0.58);
}

.logOut {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.logOut form {
    padding: 15px;
}

.logOut button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.logOut button:hover {
    background-color: #3B9E40
}

.username {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
}

.backBtn button {
    padding: 5px 20px 5px 20px;
    background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


.backBtn button svg {
    margin-bottom: 2px;
}

.search {
    border:1px solid black;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://img.icons8.com/ios/26/000000/search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

.newjob input {
    width:100%;
    padding: 10px 10px;
    margin: 8px 0;
}

.newjob textarea {
    width:100%;
    padding: 10px 10px;
    margin: 8px 0;
}
.newjob select {
    width:100%;
    padding: 10px 10px;
    margin: 8px 0;
}

.newjob small {
    text-align:center;
}

.postJob {
    text-align:center;
}
.postJob button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.postJob button:hover {
    background-color: #3B9E40
}

.errmsg {
    color:red;
}